body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}
* {box-sizing: border-box;}

li {
  list-style: none;
}

a {
    text-decoration: none;
    color: #000;
  }

.header {
  overflow: hidden;
  background-color: #26d0c9;
  color: #fff;
  /* height: 90px; */
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  
}

.header-logo {
  float: left;
  padding: 20px 40px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px; 
    line-height: 25px;
    border-radius: 4px;
  }

.header-right{
  float: right;
  padding: 20px 20px;
  font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

.main {
  padding: 20px 50px;
}

input, textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding :20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.footer {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: #fff;
  height: 100px;
  padding: 5px;
}

.col-footer i{
    color: #fff;
}

.logo {
    width: 280px;
    margin-top: 10px;
    padding: 15px 40px;
  }

.logofooter {
    width: 160px;
    margin-top: 7px;
    margin-left: 50px;
    /* padding: 15px 0px; */
}

.logofooter2 {
  width: 60px;
  margin-top: 2px;
  margin-left: 50px;
  /* padding: 15px 0px; */
}

.profil-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    font-size: 20px;
    position: relative;
    height: 200px;
 }

 .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .container {
    padding: 0 16px;
  }

  .container span{
    margin-right: 10px;
  }
  
  .container h1{
    color: #29B0A9;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #1EB5AD;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .button:hover {
    background-color: #1da79f;
  }

  .fa {
    margin-right: 5px;
    color: #000;
  }

  .column p{
      font-size: 18px;
      text-align: justify;
      text-justify: inter-word;
  }

  .text {
    background-color: white;
    color: black;
    font-size: 3.5vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    text-align: center;
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }

  .profil-section h3{
      top : 70%;
      padding-top: 70px;
      
  }

  .blink{
    animation:blinkingText 1.2s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #fff;    }
        49%{    color: #fff; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #fff;    }
    }

 input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
}


input[type=submit] {
  background-color: #1EB5AD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #1da79f;
}


.copy-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin-top: 20px;
}

.col-logo {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-footer {
  float: left;
  width: 75%;
  margin-top: 6px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  line-height: 2 ;
  color: #fff;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .copy-container{
    width: 100%;
    
  }
  .column {
    width: 100%;
    display: block;
  }
  .main{
    padding: 1%;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

  .header{
    position: static !important;
  }

  .logofooter{
    max-width: 100%;
    height: auto;
    margin-left: 5;
    
  }

  .logofooter2{
    max-width: 50%;
    height: auto;
    margin-left: 40px;
  }
  .footer{
    display: inline-block;
    height: auto;
    
  }
  .col-logo{
    width: 100%;
    display: block;
  }
  .col-footer{
    width: 100%;    
  }

  .col-footer i{
    color: #fff;
}
} 

.card img {
  border-radius: 50%;
  padding: 8px;
}

.miring {
  font-style: italic;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  margin-bottom: 15px;
  padding: 4px 12px;
  margin-bottom: 15px;
  padding: 4px 12px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.7;
}

